{
  "openapi": "3.0.3",
  "info": {
    "title": "dele.no Internal API",
    "description": "Uoffisiell dokumentasjon av dele.no (Bildeleringen) sitt interne API, observert fra app.dele.no. Brukes av Bildeleringen Stats-utvidelsen.",
    "version": "1.0.0"
  },
  "servers": [
    { "url": "https://app.dele.no/api" }
  ],
  "security": [
    { "bearerAuth": [] }
  ],
  "paths": {
    "/reservations/historic": {
      "get": {
        "summary": "Hent paginert reservasjonshistorikk",
        "parameters": [
          { "name": "page", "in": "query", "required": true, "schema": { "type": "integer", "default": 0 } },
          { "name": "size", "in": "query", "required": true, "schema": { "type": "integer", "default": 100 } },
          { "name": "sort", "in": "query", "required": false, "schema": { "type": "string", "default": "start,desc" } },
          { "name": "membershipId", "in": "query", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": {
            "description": "Liste av reservasjonsobjekter, nyeste først. Tom array når ingen flere.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Reservation" }
                }
              }
            }
          },
          "401": { "description": "Token utløpt eller ugyldig" }
        }
      }
    },
    "/reservations/{id}": {
      "get": {
        "summary": "Hent detaljer for én reservasjon",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": {
            "description": "Fullstendig reservasjonsobjekt med pris, bil, lokasjon.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Reservation" }
              }
            }
          },
          "401": { "description": "Token utløpt eller ugyldig" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "authorization",
        "description": "Bearer token hentet fra localStorage('persist:data').authentication på app.dele.no"
      }
    },
    "schemas": {
      "Reservation": {
        "type": "object",
        "description": "En reservasjon (historisk tur eller booking)",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "organizationId": { "type": "string", "format": "uuid" },
          "organizationName": { "type": "string", "example": "Bildeleringen" },
          "drivenKm": { "type": "integer", "nullable": true, "description": "Kjørte kilometer. 0 eller null for noTrips." },
          "membershipId": { "type": "string", "format": "uuid" },
          "start": { "type": "string", "format": "date-time", "description": "Planlagt starttidspunkt" },
          "end": { "type": "string", "format": "date-time", "description": "Planlagt sluttidspunkt" },
          "started": { "type": "string", "format": "date-time", "nullable": true, "description": "Faktisk starttidspunkt (null hvis aldri startet)" },
          "ended": { "type": "string", "format": "date-time", "nullable": true, "description": "Faktisk sluttidspunkt" },
          "created": { "type": "string", "format": "date-time", "description": "Når reservasjonen ble opprettet" },
          "lastRide": { "type": "string", "format": "date-time", "nullable": true },
          "lastLogout": { "type": "string", "format": "date-time", "nullable": true },
          "effectiveStart": { "type": "string", "format": "date-time", "description": "Effektiv start (kan avvike fra planlagt)" },
          "effectiveEnd": { "type": "string", "format": "date-time", "description": "Effektiv slutt" },
          "state": { "type": "string", "enum": ["PAST", "ACTIVE", "UPCOMING"], "description": "Reservasjonsstatus" },
          "canceled": { "type": "string", "format": "date-time", "nullable": true, "description": "Avbestillingstidspunkt. null = ikke avbestilt." },
          "noTrips": { "type": "boolean", "description": "True hvis booket men ikke kjørt. Kan fortsatt ha kostnad > 0 (gebyr)." },
          "notes": { "type": "string", "nullable": true, "description": "Brukerens egne notater om turen. Brukes til turkategorisering." },
          "reservationNumber": { "type": "string" },
          "freeIfNoTrips": { "type": "boolean", "description": "Om turen er gratis hvis ingen kjøring" },
          "canStartNow": { "type": "boolean" },
          "isStillDriving": { "type": "boolean" },
          "superDamageWaiver": { "type": "boolean", "description": "Egenandelsreduksjon aktivert" },
          "carWasDamaged": { "type": "boolean" },
          "invoiced": { "type": "boolean" },
          "iconUrl": { "type": "string", "nullable": true },
          "price": { "$ref": "#/components/schemas/Price" },
          "car": { "$ref": "#/components/schemas/Car" },
          "pool": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Car" },
            "description": "Tilgjengelige biler i poolen (kan inneholde flere enn den tildelte)"
          },
          "location": { "$ref": "#/components/schemas/Location" },
          "reservedBy": { "$ref": "#/components/schemas/User" },
          "invoiceLines": { "type": "array", "items": { "type": "object" } }
        }
      },
      "Price": {
        "type": "object",
        "properties": {
          "currency": { "type": "string", "example": "Kr" },
          "total": { "type": "number", "description": "Total kostnad i NOK" },
          "lines": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/PriceLine" }
          }
        }
      },
      "PriceLine": {
        "type": "object",
        "description": "En linje i prisberegningen",
        "properties": {
          "price": { "type": "number", "description": "Enhetspris" },
          "quantity": { "type": "number", "description": "Antall enheter" },
          "total": { "type": "number", "description": "price × quantity" },
          "description": { "type": "string", "description": "Beskrivelse, f.eks. 'Timepris', 'Første 100 km', 'Startavgift', 'Egenandelsreduksjon', 'Levert bil for sent >30m'" },
          "unit": { "type": "string" }
        }
      },
      "Car": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "organizationId": { "type": "string", "format": "uuid" },
          "organizationName": { "type": "string" },
          "licensePlate": { "type": "string", "example": "SX30899" },
          "carNumber": { "type": "string", "example": "1042" },
          "model": { "type": "string", "example": "Toyota RAV4", "description": "Bilmodell — brukes som visningstekst" },
          "category": { "type": "string", "enum": ["Småbil", "Minibil", "Kombi", "Stasjonsvogn", "SUV", "Varebil"], "description": "Bilkategori — brukes til CO₂- og kostnadsberegning" },
          "about": { "type": "string", "nullable": true, "description": "Fritekstbeskrivelse av bilen" },
          "iconUrl": { "type": "string" },
          "supportPhoneNumber": { "type": "string" },
          "roadsideAssistancePhoneNo": { "type": "string" },
          "roadsideAssistanceAbroadPhoneNo": { "type": "string" },
          "parkingDescription": { "type": "string", "nullable": true },
          "chargingBay": { "type": "string", "nullable": true },
          "chargingCableType": { "type": "string", "nullable": true },
          "fuelInstructions": { "type": "string", "nullable": true },
          "fuelLevel": { "type": "number", "nullable": true },
          "state": { "type": "string", "enum": ["AVAILABLE", "IN_USE", "UNAVAILABLE"], "nullable": true },
          "properties": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/CarProperty" }
          },
          "fuelCards": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/FuelCard" }
          },
          "damages": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Damage" }
          }
        }
      },
      "CarProperty": {
        "type": "object",
        "description": "Bilegenskap (drivstoff, gir, hjuldrift, tilleggsutstyr, etc.)",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "groupId": { "type": "string", "format": "uuid" },
          "group": { "type": "string", "example": "Drivstoff", "description": "Gruppenavn (Drivstoff, Girkasse, Hjuldrift, Dyr, Tilleggsutstyr)" },
          "groupKey": { "type": "string", "nullable": true, "enum": ["FUEL_TYPE", "TRANSMISSION", "DRIVETRAIN", null], "description": "Maskinlesbar gruppenøkkel. FUEL_TYPE er viktigst for CO₂-beregning." },
          "name": { "type": "string", "example": "Bensin", "description": "Visningsnavn (Bensin, Diesel, Elektrisitet, Automatgir, Forhjulstrekk, etc.)" },
          "key": { "type": "string", "nullable": true, "enum": ["GASOLINE", "DIESEL", "ELECTRIC", "AUTOMATIC", "MANUAL", "FWD", "4WD", "RWD", null] }
        }
      },
      "FuelCard": {
        "type": "object",
        "properties": {
          "name": { "type": "string", "example": "Circle K" },
          "pin": { "type": "string", "description": "PIN-kode for drivstoffkort" }
        }
      },
      "Damage": {
        "type": "object",
        "properties": {
          "reportedOnReservationId": { "type": "string", "format": "uuid" },
          "description": { "type": "string" },
          "pictures": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": { "type": "string" }
              }
            }
          }
        }
      },
      "Location": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string", "example": "Lægdesvingen" },
          "description": { "type": "string", "example": "Gateparkering ved Lægdesvingen 25." },
          "canDialToOpen": { "type": "boolean" },
          "hasDialToOpen": { "type": "boolean" }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "phoneNo": { "type": "string" },
          "partners": { "type": "array", "items": { "type": "object" } },
          "oidcId": { "type": "string", "nullable": true },
          "driversLicenseValid": { "type": "boolean" },
          "verifiedSsn": { "type": "boolean" },
          "notificationsPermitted": { "type": "boolean" }
        }
      }
    }
  }
}
